h1 {
    color:  rgb(23, 115, 36);
    font-size: 50px;
    font-family: 'Lobster', cursive;
    text-align: center;
    padding-left: 65px; 
}
H2 {
color: #1a0e0e;
font-size: 24px;
text-align: center;
font-family: 'Roboto', sans-serif;
font-weight: 500;

}
 
p {
color: #000000;
font-size: 15px;
font-family: 'Roboto', sans-serif;
font-weight: 400;
text-align: left;
}

a {color:rgb(23, 115, 36);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 25px;
