body {font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    background-color: #e2e3e4;
  }
  .wrapper{
    width: 960px;
    height: auto;
    padding: 1px;
    border: 5px solid rgb(2, 22, 5);
    margin: 15px auto;
    background-image: url("../images/ava7patterns_pattern_1807.png");
  }
h1 {
    color:  rgb(23, 115, 36);
    font-size: 50px;
    font-family: 'Caveat', cursive;
    text-align: center;
    padding-left: 60px; 
}
H2 {
color: #1a0e0e;
font-size: 24px;
text-align: center;
font-family: 'Roboto', sans-serif;
font-weight: 500;

}
 
p {
color: #000000;
font-size: 15px;
font-family: 'Roboto', sans-serif;
font-weight: 400;
text-align: left;
}

a {color:rgb(23, 115, 36);
    font-family: 'Caveat', cursive;
  font-weight: 500;
  font-size: 25px;

}
 
